*.iml
*.iws
*.ipr
.gradle/
gradle-wrapper.jar
/gradlew
/gradlew.bat
/.idea/
.DS_Store
/build/
/app/build/
/capture/
*.log
*.jks
*.keystore
*.key
.externalNativeBuild
.cxx
local.properties
google-services.json
*.hprof
